<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.UserMapper">
    <sql id="selectUser">
        select * from user
    </sql>
    <insert id="save" parameterType="user">
        insert into user values(#{id},#{name},#{pwd},#{birthday})
    </insert>
    <select id="findById" parameterType="int" resultType="user">
        <include refid="selectUser"></include>
        <where>id=#{id}</where>
    </select>
    <select id="findAll" resultType="user">
        <include refid="selectUser"></include>
    </select>

</mapper>